* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  background-color: orange;
  color: rgb(255, 229, 180);
}


.input{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  

}

li{
  list-style-type: none;
}

.todo{
  margin-top: 20px;
  text-align: center;
 
}

.todoSingle{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: orange;
  margin: 5px;
  text-transform: capitalize;
  font-size: 20px;
  color: rgb(255, 230, 183);
}

.items{
  margin:0 20px;
  background-color: rgb(255, 182, 45);
  padding: 0.5rem;
  border: 1px orangered solid;
  border-radius: 10px;
}

.btn{
  color: red;
  padding: 10px;
  cursor: pointer;
}